<div class="site-nav-container ng-6c mt3 fr">
  <a href="/"><h2 class="logo-text">index</h2></a>
  <nav class="site-nav">
    {{#if @blog.navigation}}
        {{navigation}}
    {{/if}}
  </nav>
</div>
