/*
  Colors
*/
:root {
  --yellow-bg: #FFFFF6;
  --mustard: #FFC729;
  --electric-green: #00C764;
  --green-bg: #F1FEF8;
  --off-black: #111;
  --off-grey: #747474;
  --neon-pink: #FF008D;
  --light-grey: #D8D8D8;
}
